[mysqld]
# slow query
slow_query_log
log-queries-not-using-indexes
long_query_time=3
slow_query_log_file=/var/log/slow.log

# detail
general_log
general_log_file=/usr/local/mysql/data/general-query.log

# binary
server-id=master-01
log-bin=master-bin
log-bin-index=master-bin
binlog-format = 'ROW'

# character set server utf8
character-set-server=utf8